body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FBF7F4;
  font-family: "Noto Sans", sans-serif;
}

.home-page {
  overflow: hidden;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .main-content {
  width: 65%;
  height: 100vh;
}
.home-container .main-content .namerolle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}
.home-container .main-content .namerolle h1 {
  font-size: 48px;
  animation-name: myname;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-duration: normal;
  animation-timing-function: ease-in-out;
}
@keyframes myname {
  0% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}
.home-container .main-content .namerolle p {
  font-size: 22px;
  color: #780710;
  margin-top: 0;
}

.cta-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}
.cta-home-container a {
  border: solid 1px #780710;
  border-radius: 20px;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  color: #000000;
  background-color: #FBF7F4;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
.cta-home-container .seemywork:hover {
  border: solid 2px #780710;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.cta-home-container .seemywork:hover .fa-arrow-right-long {
  color: #780710;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: 1s;
  animation-duration: normal;
  animation-timing-function: ease-in-out;
}
@keyframes arrow {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
}
.cta-home-container .downloadcv:hover {
  border: solid 2px #780710;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.sm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 5px;
}
.sm-container .fa-square-linkedin, .sm-container .fa-github {
  color: #000000;
  font-size: 25px;
}
.sm-container .fa-square-linkedin:hover, .sm-container .fa-github:hover {
  color: #780710;
  font-size: 33px;
  transition: 1s ease-in;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25rem;
  margin-top: 2rem;
}
.nav-container img {
  height: 70px;
  width: 70px;
  margin-left: 2rem;
}
.nav-container ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.nav-container ul li a {
  text-decoration: none;
  color: #780710;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.nav-container ul li a:hover {
  color: black;
  font-size: 27px;
  transition: 0.3s ease-in-out;
}
.nav-container button {
  border: none;
  background-color: #FBF7F4;
  margin-right: 2rem;
}
.nav-container button .fa-moon {
  color: #780710;
  font-size: 25px;
}

.about-sec {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 5rem;
}
.about-sec h1 {
  font-size: 30px;
  border-bottom: solid 2px #780710;
  align-self: flex-start;
}
.about-sec img {
  height: 50vh;
  width: 20vw;
  align-self: center;
  padding-bottom: 2rem;
}
.about-sec span {
  font-size: 30px;
  color: #780710;
  font-family: fantasy;
}
.about-sec p {
  font-size: 18px;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #780710;
  min-height: 20vh;
  padding: 0 3rem;
}
footer img {
  height: 10vh;
  width: 10vw;
}
footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #FBF7F4;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
footer ul li a:hover {
  color: black;
  font-size: 27px;
  transition: 0.3s ease-in-out;
}
footer .fa-square-linkedin, footer .fa-github {
  color: #FBF7F4;
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */